
$darkPurple: #dc5dda;
$lightPurple: scale-color($darkPurple, $lightness: 30%);

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    // padding: 3rem 1rem 0;

    // @media sceen and (min-width:600px) {
    //     padding: 3rem;
    // }
}

.canvas {
    position: relative;
    // background: white;
    width: 90vmin;
    height: 90vmin;
    font-size: calc(90vmin / 100);
    // width: 50vmin;
    // height: 50vmin;
    // font-size: calc(50vmin / 100);
}

.cloudFill {
    width: 100%;
    height: 100%;
    background-color: $darkPurple;
    clip-path: polygon(0% 20%, 13% 21%, 100% 100%, 0% 100%);
    // mix-blend-mode: lighten;
}
.bubble {
    position: absolute;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background-color: $lightPurple;
    z-index: 1;

    mix-blend-mode: darken;
    clip-path: inset(0 0 70% 0);

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 80%;
        border-radius: inherit;
        transform: translate(-50%, -50%);
        z-index: 10;
        background-color: $darkPurple;

    }

    &:nth-of-type(1) {
        top: 20em;
        left: 0;
        width: 12em;
        height: 10em;
        rotate: -10deg;
    }

    &:nth-of-type(2) {
        top: 19em;
        left: 5em;
        width: 20em;
        height: 14em;
        rotate: 10deg;
    }

    &:nth-of-type(3) {
        top: 16em;
        left: 18em;
        width: 20em;
        height: 14em;
        rotate: -20deg;
    }
}