.footer {
    width: 100%;
    display: grid;
    place-items: center;
    align-items: center;

    gap: 1rem;
    padding: 2rem 0;
    margin-top: 2rem;

    @include themed() {
        background-color: t("surface2");
        border-top: 2px solid t("surface4");
        // color: t("text1");
    }
}

.cta {
    p {
        @include themed() {
            color: t("text2");
        }
    }
}

.links {
    @include content-width();
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;

    a {
        display: grid;
        place-items: center;

        img {
            height: 2em;
            width: 2em;
        }
        // normalize image color to consistent gray color
        filter: brightness(10) grayscale(1) brightness(0.5);
    }
}
