$horizontalPadding: 0.5em;
$verticalPadding: 0.5em;
$borderWidth: 0.1em;

// $horizontalPadding: 1em;
// $verticalPadding: 0.6em;
// $borderWidth: 0.1em;

@mixin brightnessHoverEffect {
    transition: 0.3s filter;
    &:hover, &:focus {
        filter: brightness(1.2);
    }
}

// ::before is for tool tips
// ::after is for effects
.base {
    position: relative;
    display: inline-block;
    padding: $verticalPadding $horizontalPadding;
    border: $borderWidth solid transparent;
    border-radius: 1em;
    outline: none;
    // color: $brand-light; //scale-color($color: $brand-light, $lightness: 15%); //looks better?
    font-weight: 600;
    text-align: center;
    background: transparent;
    cursor: pointer;
    user-select: none;

    @include brightnessHoverEffect();

    @include themed() {
        color: t('brand');
    }
}

.noPadding {
    padding: 0 !important;

    &::after {
        bottom: -0.1em !important; // todo remove these !important flags
        left: 0 !important;
        width: 100% !important;
    }
}

.primary {
    @include themed() {
        color: t('color-white');
        background-color: t('brand');
        border-color: t('brand');
    }
}

.secondary {
    @include themed() {
        color: t('color-white2');
        background-color: t('surface4');
    }
}

.tertiary {
    &::after {
        content: "";
        position: absolute;
        bottom: $verticalPadding;
        left: $horizontalPadding;
        height: $borderWidth;
        width: calc(100% - calc($horizontalPadding * 2));
        border-radius: calc($borderWidth / 2);
        transform: scaleX(0);
        transform-origin: left;
        transition: 0.3s transform;
    }
    
    &:is(:hover, :focus)::after {
        transform: scaleX(1);
    }

    @include themed() {
        color: t('brand');
        
        &::after {
            background: t('brand');
        }
    }
}

.ghost {
    @include themed() {
        border: $borderWidth solid t('brand');
    }
}