.wrapper {
    display: grid;
    grid-template-areas:
        "responsive"
        "modern"
        "seo"
        "performance"
        "updates"
        "customized";
    width: 100%;
    gap: 1rem;
    grid-auto-columns: 1fr;


    @include breakpoint('sm') {
        grid-template-areas:
            "responsive responsive seo"
            "responsive responsive seo "
            "updates performance performance"
            "updates performance performance"
            "modern modern customized";
    }

    @include breakpoint('lg') {
        grid-template-areas:
            "responsive responsive modern seo seo"
            "responsive responsive modern performance performance"
            "updates customized customized performance performance";
    }
}

.responsive,
.updates,
.modern,
.seo,
.performance,
.customized {
    color: $color-black;
    min-height: 100px;
}

.responsive {
    grid-area: responsive;
    min-height: 300px;

}

.updates {
    grid-area: updates;

    background-color: hsl(290, 70%, 57%);
}

.modern {
    grid-area: modern;

    background-color: hsl(120, 70%, 57%);
}

.seo {
    grid-area: seo;

    background-color: hsl(200, 100%, 50%);
}

.performance {
    grid-area: performance;
    min-height: 300px;

}

.customized {
    grid-area: customized;
    min-height: 200px;

    $hightlight1: hsl(20, 100%, 57%);
    $hightlight2: hsl(0, 100%, 57%);
    $hightlight3: hsl(310, 100%, 57%);

    @include themed() {
        $stripeColor: change-color($color: $color-white, $alpha: 0.1);
        background-image:
            radial-gradient(at bottom right, $hightlight2, scale-color($color: $hightlight3, $lightness: 20%) 50%, transparent 50%),
            repeating-radial-gradient(at top left, $stripeColor, $stripeColor 10px, transparent 10px, transparent 20px),
            linear-gradient(to right, $hightlight1, $hightlight1);
    }

}


.card {
    position: relative;
    padding: 1em;
    clip-path: inset(0 0 0 0 round 1rem);

    .cardTitle {
        position: relative;
        z-index: 10;
        text-transform: capitalize;
    }


    .cardText {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 1em;


    }

    p {
        color: $color-black2;
    }

    @include themed() {
        .cardText {
            color: t('text1');
            background-color: t('surface3');

            @supports (backdrop-filter: blur()) or (-webkit-backdrop-filter: blur()) {
                backdrop-filter: blur(10px);
                background-color: change-color($color: t('surface3'), $alpha: 0.5);
            }
        }
    }
}