.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    overflow-x: clip;
}

.gridview {
    display: grid;
    width: 100%;
    // grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-template-areas: "aboutme" "aboutme" "projects" "contact";

    @include content-width();
    @include breakpoint("md") {
        grid-auto-columns: 1fr;
        grid-template-areas: "aboutme aboutme" "projects projects" "contact contact";
    }
}

.section {
    margin: 3rem 0 0;
    @include breakpoint("md") {
        min-height: 100vh;
        min-height: 100svh;
        font-size: 1.5em;
    }
}

.aboutMe {
    @extend .section;
    grid-area: aboutme;

    @include breakpoint("md") {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    & > div {
        padding: 1em;
        border-radius: 2em;
        @include themed() {
            background-color: t("surface2");

            @include breakpoint("md") {
                box-shadow: 0 0 0.5em 0.5em t("surface3");
                border: 1px solid t("surface4");
            }
        }
    }
}

.projects {
    @extend .section;
    position: relative;
    grid-area: projects;
    display: flex;
    flex-direction: column;
    gap: 1em;

    h1 {
        padding: 0 0.5em;
    }

    @include breakpoint("md") {
        gap: 2em;
    }
}

.project {
    position: relative;
    aspect-ratio: 12/9;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 2em;
    overflow: hidden;
    font-size: 0.8em;

    @include themed() {
        color: t("text1");
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    &:nth-of-type(2n) {
        align-self: flex-end;
    }

    & > h3:first-of-type {
        display: none;
        @include breakpoint("md") {
            display: unset;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: min(80%, max-content);
            white-space: nowrap;
            text-align: center;
        }
    }

    @include breakpoint("md") {
        font-size: 1em;
        width: 75%;
        aspect-ratio: 16/9;

        &::after {
            content: "\2197";
            position: absolute;
            top: 2rem;
            right: 2rem;
            $size: 1.5em;
            width: $size;
            height: $size;
            line-height: $size;
            text-align: center;
            border-radius: $size / 2;
            transition: transform 0.25s ease-out;
            transform-origin: top right;
            transform: scale(0) translate(-1em, 1em);

            @include themed() {
                color: t("primary");
                background-color: t("secondary");
                border: 1px solid t("accent");
            }
        }

        &:hover {
            & img {
                filter: brightness(0.5);
            }
            &::after {
                transform: scale(1) translate(0, 0);
            }
        }
    }

    .details {
        position: relative;
        width: 100%;
        padding: 2rem;

        @include themed() {
            background-color: t("surface2");
        }
        @include breakpoint("md") {
            transform: translateY(100%);
            transition: transform 0.25s ease-out;

            h3 {
                display: none;
            }
        }

        p {
            line-height: 1.5em;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 70vw;
            width: 100%;
            word-break: break-all;
        }
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 2em;
        z-index: -1;
        transition: filter 0.5s ease-in-out;
    }

    &:hover {
        @include breakpoint("md") {
            .details {
                transform: translateY(0);
            }
        }
    }
}

.links {
    display: flex;
    @include content-width();
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-bottom: 2em;

    a {
        display: grid;
        place-items: center;

        img {
            height: 2em;
            width: 2em;
        }
        filter: brightness(10) grayscale(1) brightness(0.5);
    }
}
