@import '../../../styles/colors.scss';

.wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    align-items:stretch;
    min-height: 100vh;

    @media screen and (min-width: 600.1px) {
        padding: 10rem;
        z-index: 4;
        backdrop-filter: blur();
    }
}

.skill {
    position: relative;
    flex: 1 1 400px;
    max-width: 450px;
    background: $surface3;
    padding: 3rem 3rem 7rem;
    text-align: center;
    z-index: 5;

    transition: 0.3s transform, 0.5s box-shadow;

    @media screen and (min-width: 600.1px) {
        background: $surface2;

        &:hover,
        &:focus {
            z-index: 6;
            transform: scale(1.01);
            box-shadow: 0 0 2rem $brand;

            .onLongHover {
                clip-path: inset(0% 0 0 0);
            }
        }
    }

    .icon {
        color: $brand;
        font-size: 3rem;
        margin: 0 0.5em 0.5em;
    }

    .title {
        color: $text1;
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 1em;
    }

    .description {
        color: $text2;
        margin-bottom: 1.5rem;
        min-height: 3rem;

        @media screen and (min-width: 600.1px) {
            margin-bottom: 3rem;
        }
    }

    .subtitle {
        color: $brand;
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 0.5em;
    }

    .toolList {
        li {
            color: $text2;
            margin: 0.25rem 0;

            @media screen and (min-width: 600.1px) {
                margin: 0.5rem 0;
            }
            a {
                font-weight: inherit;
                color: inherit
            }
        }
    }

    .onLongHover {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100%;
        padding: 1em;
        border-radius: 1rem 1rem 0 0;
        background: $surface3;
        transform: translate(-50%);
        clip-path: inset(100% 0 0 0);
        transition: 0.3s clip-path;

        div {
            padding: 10px 0;
            margin-top: 1rem;
        }
    }

}