@import '../../../styles/colors.scss';

.section {
    min-height: 200vh; // 100vh for title, 100vh for content
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--surface1);
    user-select: none;

    @media screen and (max-width: 600px) {
        min-height: unset;
    }
}

@media screen and (min-width: 600.1px) {
    .section .content::after {
        font-size: 2rem;    
        position: absolute;
        bottom: -80vh;
        left: 50%;
    }

    .section:nth-of-type(2) .content::after {
        content: "Wanna build somthing? 🤨";
        transform: translate(-50%, 50%);
    }

    // .section:nth-of-type(3) .content::after {
    //     content: "ready to work? 😳";
    //     transform: translate(-50%);
    // }

    .section:nth-last-of-type(1) .content {
        margin-bottom: 0 !important;
    }
}

.content {
    position: relative;
    flex: 1;
    width: 100%;
    z-index: 2;

    @media screen and (min-width: 600.1px) {
        margin-bottom: 80vh; // 100vh
    }

    // debug
    // background-color: rgba($color: #f00, $alpha: 0.03);
}

.stickyTitle {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    z-index: 1;

    @media screen and (max-width: 600px) {
        height: unset;
        padding: 0.7em;
        z-index: 3;
        top: 3rem;
        background-color: $surface2;
        width: 100%;
    }
}

.stickyTitleInner {
    margin: auto;
    font-size: 10vw;
    user-select: none;
    cursor: default;

    @media screen and (max-width: 600px) {
        font-size: 1.2rem;
    }
}