@import '../styles/colors.scss';

$horizontalPadding: 0.5em;
$verticalPadding: 0.5em;
$borderWidth: 0.1em;

@mixin brightnessHoverEffect {
    transition: 0.3s filter;
    &:hover, &:focus {
        filter: brightness(1.2);
    }
}

// ::before is for tool tips
// ::after is for effects
.base {
    position: relative;
    display: inline;
    padding: $verticalPadding $horizontalPadding;
    border: $borderWidth solid transparent;
    border-radius: 0.5em;
    outline: none;
    color: $brand; //scale-color($color: $brand, $lightness: 15%); //looks better?
    font-weight: 600;
    text-align: center;
    background: transparent;
    cursor: pointer;
    user-select: none;

    @include brightnessHoverEffect();
}

.noPadding {
    padding: 0;

    &::after {
        bottom: -0.1em !important; // todo remove these !important flags
        left: 0 !important;
        width: 100% !important;
    }
}

.primary {
    color: whitesmoke;
    background: $brand;
    border: $borderWidth solid $brand;
}

.secondary {
    color: $text2;
    background: $surface4;
}

.tertiary {
    color: $brand;

    &::after {
        content: "";
        position: absolute;
        bottom: $verticalPadding;
        left: $horizontalPadding;
        height: $borderWidth;
        width: calc(100% - calc($horizontalPadding * 2));
        border-radius: calc($borderWidth / 2);
        background: $brand;
        transform: scaleX(0);
        transform-origin: left;
        transition: 0.3s transform;
    }
    &:is(:hover, :focus)::after {
        transform: scaleX(1);
    }
}

.ghost {
    border: $borderWidth solid $brand;
}