$mobile-breakpoint: 640px;
$lightGrey: rgb(170, 170, 170);

.wrapper {
    color: #131313;
    background-color: #fafafa;
    min-height: 100vh;
    max-width: 8.5in;
    margin: 0 auto;
    font-size: 14px;
    padding: 1rem;

    .footer {
        display: none;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        padding: 1em 2em;
        box-shadow: 0.2em 0.2em 1em rgba(0, 0, 0, 0.2);
        color: #fafafa;
        z-index: 9999;
        background-color: rgba(0, 0, 0, 0.94);

        @supports (backdrop-filter: blur()) or (-webkit-backdrop-filter: blur()) {
            background-color: rgba(0, 0, 0, 0.7);
            backdrop-filter: blur(0.5em);
        }

        @media screen {
            display: flex;
            justify-content: space-between;
        }
    }

    @media screen and (min-width: $mobile-breakpoint) {
        padding: 0.5in;
    }

    a {
        color: hsl(212, 100%, 60%);
        text-decoration: none;
    }

    @media print {
        a {
            color: inherit;
        }
    }
}

.pgbr {
    page-break-after: always;
}

.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 1em;

    h1 {
        font-size: 2.5em;
        margin-bottom: 0.15em;
    }

    .about {
        line-height: 1.5em;
    }

    @media screen {
        &::before {
            content: "Mobile-friendly version of this page is still being developed. Please visit the desktop version for the best experience.";
            text-align: left;
            margin: -1.2em -1.2em 1.5em;
            padding: 0.5em 0.7em;
            background-color: hsla(60, 100%, 60%, 1);
        }
    }

    @media screen and (min-width: $mobile-breakpoint) {
        &::before {
            display: none;
        }
    }
}

.section {
    position: relative;
    margin-bottom: 1.5em;

    .title {
        font-size: 1.35em;
        margin-bottom: 0.3em;
    }
}

.skills {
    @extend .section;

    // .title {
    //     font-size: 1.2em;
    // }
    // .title::after {
    //     content: "Contact Me";
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     // display: none;
    // }

    .skillBlock {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        $bullet_spacing: 0.05em;

        .skillsLeft {
            min-width: fit-content;

            ul {
                list-style: disc;

                li {
                    margin-left: 2em;

                    &:not(:last-child) {
                        margin-bottom: $bullet_spacing;
                    }
                }
            }
        }

        .skillsRight {
            margin: 1em 0 0 0;

            ul {
                list-style: disc;

                li {
                    margin-left: 2em;

                    &:not(:last-child) {
                        margin-bottom: $bullet_spacing;
                    }
                }
            }
        }

        @media screen and (min-width: $mobile-breakpoint) {
            justify-content: space-between;

            .skillSpacer {
                height: 4em;
                width: 1px;
                border-right: 1px solid $lightGrey;
            }

            .skillsRight {
                margin: 0;

                &::before {
                    display: none;
                }

                ul {
                    li {
                        margin: 0;
                    }
                }
            }
        }
    }
}

.experience {
    @extend .section;
    @media print {
        // margin-top: 3.5rem;
    }
}

.project {
    display: block;

    &:not(:last-of-type) {
        margin-bottom: 1.5em;
    }
    // break-inside: avoid;

    .projectHeader {
        display: flex;
        justify-content: space-between;

        h6 {
            font-weight: 700;
            font-size: 1.1em;
            line-height: 1em;
        }

        span {
            margin: 0 0 0 1em;
            min-width: fit-content;
            font-style: italic;
            font-weight: 300;
        }
    }

    .projectBody {
        display: flex;
        justify-content: space-between;
        gap: 0 0.5em;

        .projectTools {
            list-style: none;
            min-width: 6em;
            height: fit-content;

            li {
                display: flex;
                margin-left: 0;
                justify-content: space-between;

                &::before {
                    content: "";
                    flex: 1;
                    border-bottom: 1px solid $lightGrey;
                    transform: translateY(calc(-50% + 1px));
                    margin-right: 0.5em;
                }
            }
        }
    }
}
