.wrapper {
    min-height: 100vh; // TODO: CHECK THIS WOULD BE NICE TO HAVE A SET HEIGHT
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    // justify-content: center;
    // align-items: center;
    color: whitesmoke;
    font-size: clamp(0.75em, 1.5vw, 1.6rem);
    // color: black;

    // padding: 10vh 10vw;
    // padding-top: 3rem;

    // background
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: url("/assets/images/11226740766_890db563a5_o.jpg");
        background-repeat: no-repeat;
        object-fit: cover;
        filter: grayscale(1) blur(0px) brightness(0.5) contrast(2);
        // filter: grayscale(1) blur(0px) brightness(0.5) contrast(2) invert(1); // light
        background-color: black;
        background-blend-mode: screen;
        z-index: -1;
    }

    & > div {
        display: flex;
        justify-content: center;
        align-items: center;
        // height: 100%;
        // text-shadow: 0 0 10px rgba(1, 1, 1, 0.5);
    }

    @include breakpoint("md") {
        flex-direction: row;
    }

    // font-family: "Courier New", Courier, monospace;
    .left {
        flex: 2 0 66%;
        // TODO change layout? needs to have more than 50%
        // before mobile md breakpoint
        & > div {
            width: 100%;
            margin: 0 0 0 10vw;
        }
        @include themed() {
            h3::selection {
                background-color: t("text1");
                color: t("surface1");
            }
            p {
                color: t("text3");
                font-size: max(1em, 1rem);

                &::selection {
                    background-color: t("text3");
                    color: t("surface1");
                }
            }
        }
    }
    .right {
        position: relative;
        flex: 1 1 33%;

        // &::before,
        // &::after {
        //     content: "";
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     height: 100%;
        //     width: 100%;
        // }

        &::after {
            background: linear-gradient(
                to right,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 1) 100%
            );
            border: 1px solid;
            border-top-left-radius: 3rem;
            border-bottom-left-radius: 3rem;
            // clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 calc(100% - 3rem));
        }
    }
}

.callToActionButtons {
    display: flex;
    gap: 1.5rem;
}

.brandColor {
    @include themed() {
        color: t("brand");
        &::selection {
            background-color: t("brand");
            color: t("surface1");
        }
    }
}

.title {
    position: relative;
    display: flex;
    flex-direction: row;
    line-height: 1;
    // font-size: 1.5rem;
    // font-weight: 700;
    align-items: center;
    // gap: 1ch;

    // font-size: 3rem;
    // height: 1em;
    height: 1em;
}

.LevenshteinChangingTitle {
    @extend .brandColor;
    position: relative;
    display: flex;
    height: 1em;
    flex: 1 1 auto;
    // flex-direction: row;
    // line-height: 1;
    // // font-size: 1.5rem;
    // // font-weight: 700;
    // align-items: center;
    // // gap: 1ch;

    // // font-size: 3rem;
    // // height: 1em;
    // height: 1em;
}

.letterBase {
    position: absolute;
    top: 0;
    width: 1ch;
    height: 100%;
    animation-delay: 1s;

    & span:first-child,
    & span:last-child {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    & span:first-child {
        // border-bottom: 1px solid blue;
    }

    & span:last-child {
        // top: 100%;
    }

    // &:not(.insertion) span {
    //     animation-delay: 1s;
    //     &:is(:first-child, :last-child) {
    //         animation-delay: 1s;
    //     }
    // }

    // border: 1px solid green;
}

@for $i from 0 through 20 {
    .letterNumber#{$i} {
        left: #{$i}ch;
    }
    .letterNumber#{-1 * $i} {
        left: #{-1 * $i}ch;
    }
}

// $animation-duration: 5s;

// $insertAnimationDuration: $animation-duration / 5 * 2;
// $insertAnimationDelay: 0s;

// $deleteAnimationDuration: $animation-duration / 5 * 2;
// $deleteAnimationDelay: $insertAnimationDuration;

// $matchAnimationDuration: $animation-duration / 5 * 1;
// $matchAnimationDelay: $insertAnimationDuration + $deleteAnimationDuration;

// $substitutionAnimationDuration: $animation-duration / 5 * 1;
// $substitutionAnimationDelay: $insertAnimationDuration + $deleteAnimationDuration;

$animation-duration: 10s;
$animation-step: $animation-duration / 4;

$insertAnimationDuration: $animation-step;
$insertAnimationDelay: $animation-step * 0;
$insertShowTimeClipSpace: 0.3; // 0.3 = 30% of animation time for first animation step
$insertShowPercent: $insertShowTimeClipSpace * 100%;

$substitutionAnimationDuration: $animation-step;
$substitutionAnimationDelay: $animation-step * 1;

$deleteAnimationDuration: $animation-step;
$deleteAnimationDelay: $animation-step * 2;
$deleteShowTimeClipSpace: 0.3; // 0.3 = 30% of animation time for moving all letters
$deleteShowPercent: (1 - $deleteShowTimeClipSpace) * 100%;

$matchAnimationDuration: $animation-step;
$matchAnimationDelay: $animation-step * 3;

@for $i from 0 through 20 {
    //forwards delta {letter(s) before current are inserted}
    @keyframes delta#{$i} {
        0% {
            translate: 0;
        }
        100% {
            translate: #{$i}ch;
        }
    }
    .letterDelta#{$i} {
        // animation: delta#{$i} $insertAnimationDuration linear forwards;
        animation: delta#{$i}
            $insertAnimationDuration *
            $insertShowTimeClipSpace
            linear
            forwards;
        animation-delay: $insertAnimationDelay;
    }

    @keyframes delta#{-1 * $i} {
        0% {
            translate: 0;
        }
        100% {
            translate: #{-1 * $i}ch;
        }
    }

    .letterDelta#{-1 * $i} {
        animation: delta#{-1 *
            $i}
            $deleteAnimationDuration *
            $deleteShowTimeClipSpace
            linear
            forwards;
        animation-delay: $deleteAnimationDelay +
            $deleteAnimationDuration *
            (1 - $deleteShowTimeClipSpace);
    }
}

// @for $i from 0 through -20 {
//     //backwards delta {letter(s) before current are deleted}
//     @keyframes delta#{$i} {
//         0% {
//             transform: translateX(#{-1 * $i}ch);
//         }
//         100% {
//             transform: translateX(0);
//         }
//     }
//     .letterDelta#{$i} {
//         // border: 1px solid blue;
//         animation: delta#{$i} 0.5s linear forwards;
//     }
// }

.insertion {
    @extend .letterBase;
    @keyframes insertion {
        0% {
            color: transparent;
        }
        #{$insertShowPercent} {
            color: transparent;
        }
        100% {
            color: inherit;
        }
    }

    & span:last-child {
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 1ch;
            height: 1em;
        }
        &::before {
            content: "\21FE";
            @keyframes insertionBefore {
                0% {
                    clip-path: inset(0 100% 0 0);
                }
                #{$insertShowPercent},
                #{100% - $insertShowPercent} {
                    clip-path: inset(0 0 0 0);
                }
                100% {
                    clip-path: inset(0 0 0 100%);
                }
            }
            @include themed() {
                color: t("brand");
                background-color: t("surface1");
            }
            animation: insertionBefore $insertAnimationDuration ease-in forwards;
            animation-delay: $insertAnimationDelay;
        }
        &::after {
            @keyframes insertionAfter {
                // 0% {
                //     // background: none;
                // }
                // #{$insertShowPercent - 1%} {
                //     // background: none;
                // }
                // #{$insertShowPercent} {
                //     background-position: 200%;
                // }
                0% {
                    background-position: 200%;
                }
                #{$insertShowPercent} {
                    background-position: 200%;
                }
                #{100% - $insertShowPercent} {
                    background-position: -100%;
                }
                100% {
                    background-position: -100%;
                }
            }
            @include themed() {
                background: linear-gradient(
                    to left,
                    t("brand") 0%,
                    t("brand") 10%,
                    transparent 20%,
                    transparent 25%,
                    t("brand") 25%,
                    t("brand") 35%,
                    transparent 35%,
                    transparent 40%,
                    t("brand") 40%,
                    t("brand") 50%,
                    transparent 50%,
                    transparent 100%
                );
                background-repeat: no-repeat;
                background-size: 200% 100%;
                background-position: 200%;
                animation: insertionAfter $insertAnimationDuration ease-in
                    forwards;
                animation-delay: $insertAnimationDelay +
                    $insertAnimationDuration * $insertShowTimeClipSpace;
            }
        }
    }

    // animation-duration: 0s;

    & span:last-child {
        // opacity: 0;
        // clip-path: inset(0 100% 0 0);
        // border-top: 1px solid green;
        animation: insertion $insertAnimationDuration linear forwards;
        animation-delay: $insertAnimationDelay;
    }
}

.substitution {
    @extend .letterBase;

    & span:first-child {
        @keyframes substitutionOld {
            0% {
                // transform: translate(0, 0);
                color: inherit;
            }
            49% {
                color: inherit;
            }
            50% {
                color: transparent;
            }
            100% {
                // transform: translate(0, -100%);
                color: transparent;
            }
        }
        // transform: translate(0, 0);
        color: inherit;
        animation: substitutionOld $substitutionAnimationDuration linear
            forwards;
        animation-delay: $substitutionAnimationDelay;
    }

    & span:last-child {
        @keyframes substitutionNew {
            0% {
                // transform: translate(0, 100%);
                color: transparent;
            }
            49% {
                color: transparent;
            }
            50% {
                color: inherit;
            }
            100% {
                // transform: translate(0, 0);
                color: inherit;
            }
        }
        // transform: translate(0, 100%);
        color: transparent;
        animation: substitutionNew $substitutionAnimationDuration linear
            forwards;
        animation-delay: $substitutionAnimationDelay;

        &::before {
            transform-origin: top center;
            transform: translateY(-10%) scale(1, 0);
            @include themed() {
                border-bottom: 0.2em solid t("brand");
                // border-top: 0.4em solid red;
            }

            @keyframes substitutionBefore {
                0% {
                    transform: translateY(-10%) scale(1, 0);
                }
                50% {
                    transform: translateY(-10%) scale(1, 0.61);
                }
                100% {
                    transform: translateY(-10%) scale(1, 0);
                }
            }
            animation: substitutionBefore $substitutionAnimationDuration
                ease-in-out forwards;
            animation-delay: $substitutionAnimationDelay;
        }

        &::after {
            transform-origin: bottom center;
            transform: translateY(-10%) scale(1, 0);
            @include themed() {
                border-top: 0.2em solid t("brand");
                // border-bottom: 0.6em solid red;
                // // border and we can also do
            }
            @keyframes substitutionAfter {
                0% {
                    transform: translateY(10%) scale(1, 0);
                }
                50% {
                    transform: translateY(10%) scale(1, 0.61);
                }
                100% {
                    transform: translateY(10%) scale(1, 0);
                }
            }
            animation: substitutionAfter $substitutionAnimationDuration
                ease-in-out forwards;
            animation-delay: $substitutionAnimationDelay;
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 1ch;
            height: 1em;
            // background-color: red;
            // border-bottom: 3px solid blue;
            @include themed() {
                background-color: t("surface1");
            }
        }
    }
}

.match {
    @extend .letterBase;
}

.deletion {
    @extend .letterBase;

    @keyframes deletion {
        #{$deleteShowPercent / 4 * 3},
        0% {
            opacity: 1;
            transform: scale(1);
        }
        #{$deleteShowPercent},
        100% {
            opacity: 0;
            transform: scale(0);
        }
    }

    // make x with before and after
    &::before {
        translate: -50% -50%;
        rotate: -45deg;
    }
    &::after {
        translate: -50% -50%;
        rotate: 45deg;
    }
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0.2em;
        height: 0.9em;
        border-radius: 0.1em;
        background-color: red;
        transform-origin: center center;
        z-index: 2;
        transform: scale(0);

        @keyframes deletionX {
            0% {
                opacity: 0;
                transform: scale(2);
            }
            #{$deleteShowPercent / 4} {
                opacity: 1;
                transform: scale(1.25);
            }
            #{$deleteShowPercent / 4 * 2} {
                opacity: 1;
                transform: scale(1);
            }
            #{$deleteShowPercent / 4 * 3} {
                opacity: 1;
                transform: scale(1);
            }
            #{$deleteShowPercent} {
                opacity: 0;
                transform: scale(0);
            }
        }
        animation: deletionX $deleteAnimationDuration linear forwards;
        animation-delay: $deleteAnimationDelay;
    }

    // clip-path: inset(0 0 0 0);
    animation: deletion $deleteAnimationDuration linear forwards;
    animation-delay: $deleteAnimationDelay;
}

// @for $i from 1 through 20 {
//     :is(.substitution):nth-child(#{$i}) {
//         & span:first-child,
//         & span:last-child {
//             // delay the first span by 0.5s
//             animation-delay: #{0.5 + $i / 10}s;
//         }
//     }
// }

// @for $i from 1 through 20 {
//     :is(.deletion, .insertion):nth-child(#{$i}) {
//         animation-duration: $animation-duration / 2;
//         animation-delay: #{$i / 10}s;
//     }
// }

// test class for badly tagged letters
.HUHHH {
    color: orange !important;
    border: 1px solid orange !important;
}
