
@import '../styles/colors.scss';

$mobile-nav-breakpoint: 500px;

nav.nav {
    position: relative;
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    height: 3em;
    background-color: $surface2;

    .nav-logo {
        position: absolute;
        top: 0;
        left: 0;
        height: 2.4em;
        width: 2.4em;
        box-sizing: border-box;
        border-radius: 50%;
        margin: 0.3em;
        background-color: $logo-bg;

        &::after {
            content: 'Z';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: $logo-fg;
            font-size: 1.8em;
            font-weight: 800;
        }
    }

    ul.nav-items {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        margin: 0;
        height: 100%;
        list-style: none;

        li.nav-item {
            display: flex;
            height: 100%;
            padding: 0 0.5rem;

            a {
                color: $text2;
                text-decoration: none;
                vertical-align: middle;
                margin: auto 0;
            }

            &:hover a {
                color: $text1;
                text-shadow: 0 0 0.05em change-color($color: $text2, $alpha: 0.25);
            }
        }
    }

    #nav-label,
    #nav-toggle {
        display: none;
    }

    @media (max-width: $mobile-nav-breakpoint) {
        & {
            // height: unset;

            // .nav-logo {
            //     display: none;
            // }

            ul.nav-items {
                display: none;
                width: 100vw;
                flex-direction: column;

                li.nav-item {
                    padding: 0.5rem 0;
                }

                // clip-path: inset(0 0 60% 0);
            }
        }

        #nav-label {
            display: unset;
            position: absolute;
            top: 0;
            right: 0;
            height: 3em;
            width: 3em;

            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background-color: $text1;
                height: 50%;
                width: 6%;
                border-radius: 50% / 6%;
                transition: transform 0.3s;
            }

            &::after {
                transform: translate(-50%, -30%) rotateZ(90deg);
            }

            &::before {
                transform: translate(-50%, -70%) rotateZ(-90deg);
            }
        }

        // on menu toggle styles
        #nav-toggle {
            display: none;

            &:checked~ {
                & #nav-label {
                    &::after {
                        transform: translate(-50%, -50%) rotateZ(45deg);
                    }

                    &::before {
                        transform: translate(-50%, -50%) rotateZ(-45deg);
                    }
                }

                & ul.nav-items {
                    display: unset;
                    padding-top: 3rem;
                    
                    & li.nav-item {
                        padding: 0 2rem;
                        background-color: $surface2;
                    }
                }
            }
        }
    }
}