@import '../../../styles/colors.scss';

div.section {
    position: relative;
    height: 100vh;
    overflow-y: scroll;

    // pre-animate states
    & {
        .section-hero {
            .detail {
                width: 20%;
                height: 70%;
            }

            .image {
                width: 50%;
                height: 70%;
            }
        }

        .section-content {
            display: none;
        }
    }


    // post-animate states
    &.post {
        .section-hero {
            .detail {
                width: 50%;
                height: 100%;
            }

            .image {
                width: 50%;
                height: 100%;
            }
        }
        .section-content {
            display: block;
        }
    }

    // enable all animations here
    & {
        .section-hero {

            .detail,
            .image {
                transition: width 1s, height 1s;
            }
        }
    }

    .section-hero {
        position: relative;
        display: flex !important; // no idea why I need !important
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: $surface1;

        // static styles
        .detail {
            position: relative;
            padding: 2rem 5rem;

            .over {
                position: absolute;
                top: 50%;
                z-index: 10;
                white-space: nowrap;
                font-size: 2vw;
                transform: translateY(-50%);

                .title {
                    font-size: 2.8em;
                    font-weight: 500;
                    text-transform: uppercase;
                }

                .desc {
                    font-size: 0.5em;

                    &::first-line {

                        font-size: 1.4em;
                        line-height: 1.6em;
                    }
                }

                a.button {
                    position: relative;
                    display: inline-block;
                    font-size: 1rem;
                    padding: 0.5em 0.75em;
                    border: 1px solid $brand;
                    margin: 2rem 0 0;
                    user-select: none;
                    color: $text1;
                    background: transparent;

                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                        transition: clip-path 0.3s;
                        clip-path: polygon(-150% 0%, -150% 100%, -50% 100%, 0% 0%);
                    }

                    &::before {
                        background: $brand;
                        transition-delay: 0.1s;
                    }

                    &::after {
                        background: adjust-hue($color: $brand, $degrees: 180);
                        z-index: -2;
                    }

                    &:hover,
                    &:focus {

                        &::before,
                        &::after {
                            clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 150% 0%);
                        }
                    }
                }
            }
        }

        .image {
            position: relative;
            background: $brand;

            .inner {
                width: 100%;
                height: 100%;
                mix-blend-mode: multiply;
            }
        }
    }

    .section-content {
        position: relative;
    }
}