.fullpageSection {
    min-height: 100vh;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.surface1 {
    @include themed() {
        background-color: t('surface1');
    }
}

.surface2 {
    @include themed() {
        background-color: t('surface2');
    }
}

.surface3 {
    @include themed() {
        background-color: t('surface3');
    }
}

.surface4 {
    @include themed() {
        background-color: t('surface4');
    }
}