.wrapper {
    position: relative;
    min-height: 100vh;
    padding: 9rem 1rem 2rem;
    user-select: none;

    display: flex;
    justify-content: center;



    @media screen and (min-width: 600px) {
        padding: 3rem;
        align-items: center;
    }
}

.searchWrapper {
    display: flex;
    flex-direction: column;
    max-width: 600px;

    gap: 0.5rem;
}

.searchBar {
    position: relative;
    background-color: whitesmoke;
    clip-path: inset(0 0 0 0 round 0.5rem);
    border-radius: 0.5rem;

    input {
        outline: none;
        width: 100%;
        border: none;
        font-size: 2rem;
        padding: 0.3em 0.5rem;
        background-color: inherit;

        &:not(:focus)~.searchSuggestions {
            display: none;
        }
    }

    .searchSuggestions {
        display: flex;
        flex-direction: column;

        .searchSuggestion {
            padding: 0.3em 0.5rem;



            @include themed() {
                color: change-color($color: t('brand'), $saturation: 10%, $lightness: 40%);

                &.selected {
                    color: t('text1');
                    background: t('brand');
                }

                &:nth-of-type(1) {
                    border-top: 2px solid t('brand');
                }
            }
        }
    }
}


.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 0.75rem;

    .tag {
        position: relative;
        font-size: 0.8rem;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 1em;
        padding: 0.55em 0.75em 0.45em;
        border-radius: 1em;
        user-select: none;
        cursor: pointer;

        transition: 0.3s box-shadow, 0.3s background;


        @include themed() {
            background-color: t('surface4');

            &:hover,
            &:focus,
            &.focus {
                background: t('brand');
                box-shadow: 0 0 0.75em change-color($color: t('brand'), $alpha: 0.5);
            }
        }
    }
}

.toolTip {
    margin: 0.5em 0;
}


$searchResultGap: 1rem;

.searchResults {
    display: flex;
    flex-wrap: wrap;
    gap: $searchResultGap;
}

.searchResult {
    position: relative;
    width: 100%;
    clip-path: inset(0 0 0 0 round 0.5rem);


    @media screen and (min-width: 600px) {
        width: calc(50% - calc($searchResultGap / 2));
    }

    .imageWrapper {
        height: 150px;
        clip-path: inset(0 0 0 0);

        img {
            max-width: 100%;
            filter: grayscale(1);
            transition: 0.3s ease-out filter, 0.3s ease-out transform;

            &:hover {
                transform: scale(1.05);
                filter: none;
            }
        }
    }

    .title {
        position: absolute;
        bottom: 0;
        width: 100%;
        font-size: 1.2em;
        font-weight: 400;
        padding: 0.3em 1.1em;

        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;



        @include themed() {
            background: t('surface3');
        }
    }
}

.noResults {
    width: 100%;
    text-align: center;
    padding: 1em;
}