/* Core variables */
// @import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* CSS print */
// @import 'base/print';

/* Fonts */
// @import 'base/fonts';

/* Mixins, helpers and functions */
@import 'base/mixins';

/* Vendor */


$accent-color-500: #00c7a6;
$primary-color-500: #8360c3;
$nice-dark: #262626;



/* Bootstrap */
$primary: $primary-color-500;
@import "~bootstrap/scss/bootstrap";
// @import "~bootstrap-icons/font/bootstrap-icons";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

/* Components */

/* Browser specific styles */
@import 'dirty/hacks';

.rborder {
    border: 2px solid red !important;
}
.gborder {
    border: 2px solid green !important;
}
.bborder {
    border: 2px solid blue !important;
}

div.hero {
    height: calc(100vh - 56px);
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);//linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.gradient-text {
    background: -webkit-linear-gradient(5deg, #8360c3, #2ebf91);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.accentText {
    color: $accent-color-500;
    // font-weight: bolder;
}

.primaryText {
    color: $primary-color-500;
}

span.divider {
    display: block;
    height: 2rem;
    position: relative;
    margin: 1rem 0;
    transform-origin: left;

    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 3rem;
        height: 0.2rem;
        border-radius: 0.1rem;
        background-color: $primary-color-500;
    }

    &::before {
        top: 0.5rem;
        left: 0;
    }

    &::after {
        bottom: 0.5rem;
        left: 1.5rem;
    }
}
:root {
    scroll-behavior: auto !important; //override reduced motion
}

head, body {
    position: relative;
    background: linear-gradient(
        to bottom right,
        adjust-color($color: $nice-dark, $lightness: 5%),
        adjust-color($color: $nice-dark, $lightness: 18%)
    );
    // background-color: adjust-color($color: $nice-dark, $lightness: 10%, $alpha: 1.0);
    color: white;
    overscroll-behavior-y: none;
}

.lockFullScreen {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: $nice-dark;
}


.scene {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;

    & .scene-layer:not(.stars) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;

        & div {
            filter: hue-rotate(60deg);
        }


        &:nth-last-child(1) {
            left: 30%;

            & div {
                font-size: 80vmin;
                width: 1em;
                height: 1em;
                border-radius: 50%;
                border: 0.1em solid $nice-dark;
                background-color: adjust-hue($color: $nice-dark, $degrees: 30);
            }
        }

        &:nth-last-child(2) {
            top: 70%;
            left: 80%;

            & div {
                font-size: 60vmin;
                width: 1em;
                height: 1em;
                border-radius: 50%;
                border: 0.1em solid $primary-color-500;
                background-color: adjust-hue($color: $primary-color-500, $degrees: 30);
            }
        }

        &:nth-last-child(3) {
            top: 20%;
            left: 70%;

            & div {
                font-size: 40vmin;
                width: 1em;
                height: 1em;
                border-radius: 50%;
                border: 0.1em solid $accent-color-500;
                background-color: adjust-hue($color: $accent-color-500, $degrees: 30);
            }
        }

        & div::before,
        & div::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        & div::before {
            width: 0.5em;
            height: 0.5em;
            border: 0.025em solid black;
        }

        & div::after {
            width: 0.8em;
            height: 0.8em;
            border: 0.1em solid black;
            border-radius: 50%;
            scale: 1.01;
        }
    }

    & .star {
        position: relative;
        background-color: lightblue;
        width: 1em;
        height: 1em;
        border-radius: 50%;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: aliceblue;
            z-index: 1;
            transform: translate(-50%, -50%);
        }

        &::before {
            width: 0.15em;
            height: 1.6em;
        }

        &::after {
            width: 1.6em;
            height: 0.15em;
        }
    }

    @for $l from 1 through 3 {
        @for $i from 1 through 100 {
            & .stars:nth-of-type(#{$l}) .star:nth-of-type(#{$i}) {
                $star-size: random(2 + $l) + 1px;
                top: random(101) - 1 +vh;
                left: random(101) - 1 +vw;
                font-size: $star-size;
                opacity: calc(random(50) / 100) + calc($l * 0.1);
            }
        }
    }
}

.full-page-section-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;

    & .background {
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background: $nice-dark;
    }
}

[data-barba-namespace="about"],
[data-barba-namespace="projects"],
[data-barba-namespace="contact"] {
    & .background {
        width: 100%;
    }
    & .scene {
        display: none;
    }
}

.back {
    position: fixed; //absolute;
    color: white;
    font-size: 3.5rem;
    text-decoration: none;

    top: 2rem;
    left: 2rem;
    z-index: 100;
    
    & i {
        transition: color 0.4s ease-in;
    }
}

.full-page-section {
    position: sticky;
    top: 0;
    height: 100vh;
    z-index: 10;
    background: none;

    & .container {
        position: relative;
        height: 70%;
        overflow: hidden;

        &.postAnimate {
            height: 100%;
            width: 100%;
            margin-right: 0;
            padding: 0;
            position: unset;
        }

        & .about {
            position: absolute;
            left: 0;
            margin-left: 8%;
            z-index: 2;
            padding-bottom: 2rem;
            text-shadow: 0 0 0.4rem $nice-dark;

            
            @media (min-width: 1200px) {
                width: 30vw;
            }

            & .desc {
                & h4 {
                    color: rgba($color: #fff, $alpha: 0.8);
                }
                & h6 { 
                    color: rgba($color: #fff, $alpha: 0.6);
                }
            }

            & .btn {
                color: white;
                background-color: rgba($color: $primary-color-500, $alpha: 0.7);
                border-color: $primary-color-500;
                border-radius: 2rem;
                transition: all 0.3s ease-out;

                &:hover {
                    background-color: $primary-color-500;
                    scale: 1.1;
                }
            }
        }

        & .image {
            display: block;
            position: relative;
            height: 100%;
            width: 70%;
            margin-bottom: auto;
            margin-left: auto;

            @media (max-width: 575.98px) {
                margin-bottom: auto;
                margin-right: auto;
                width: 80%;
                height: 75%;
            }

            z-index: 1;
            overflow: hidden;

            & .c1 {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                background-color: rgba($color: #000, $alpha: 0.9);
                z-index: 1;
            }

            & .c2 {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                background-color: $primary-color-500;
                z-index: 1;
            }
        }

        & .about__image {
            background: url("https://source.unsplash.com/501x500/?code,computer,data,coding"), $accent-color-500;
        }
        & .projects__image {
            background: url("https://source.unsplash.com/502x500/?programming,project"),
            $accent-color-500;
        }
        & .contact__image {
            background: url("https://source.unsplash.com/503x500/?patterns,technology,data"), $accent-color-500;
        }
        & .none__image {
            background: $accent-color-500;
        }

        & .about__image,
        & .projects__image,
        & .contact__image,
        & .none__image {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-blend-mode: multiply;
            backdrop-filter: blur(1px);
        }
    }
}

// [data-barba-namespace="index"] {
//     counter-reset: sectionCounter;
//     & .full-page-section:not([data-section-name="hello"]){
//         @media (min-width: 576px) {
//             &::after {
//                 content: counter(sectionCounter);
//                 counter-increment: sectionCounter;
//                 position: absolute;
//                 display: inline-block;
//                 bottom: 10%;
//                 right: 12vw;

//                 color: white;
//                 font-family: "Times New Roman", Times, serif;
//                 font-size: 15rem;
//                 line-height: 10rem;
//                 z-index: 10;
//             }
//         }
//     }
// }

#f-nav, #f-nav-old {
    position: fixed;
    top: calc(50% - 4rem);
    left: 3rem;
    z-index: 100;
    opacity: 1;
    width: 3rem;
    transition: all 0.4s ease-in;

    @media (min-width: 576px) {
        
        &::before,
        &::after {
            display: block;
            position: fixed;
            left: 2rem;
            width: 19px;
    
            color: white;
            text-transform: uppercase;
            writing-mode: vertical-lr;

            opacity: 0;
            transition: all 0.4s ease-in;
        }
    
        &::before {
            content: "scroll";
            bottom: 3.8rem;
            font-size: 0.8rem;
            text-orientation: upright;
        }
    
        &::after {
            content: "\27F6"; //\2193";
            color: $accent-color-500;
            bottom: 2rem;
            font-size: 1.3rem;
        }
        
        &.scroll {
            &::before,
            &::after { 
                opacity: 1;
            }
        }
    }
    
    & ul {
        margin: 0;
        padding: 0;
        list-style: none;

        & li {
            width: 100%;
            height: 4px;
            margin-bottom: 1.5rem;

            &:last-child {
                margin-bottom: 0;
            }

            & a {
                position: relative;
                display: block;
                cursor: pointer;
                height: 100%;
                width: 50%;

                background-color: white;

                border-radius: 2px;

                transition: all 0.4s ease-out;
                transform-origin: left;
                
                
                &:hover {
                    background-color: $primary-color-500 !important;
                    transform: scaleY(1.5);
                }
                &:not(.active):hover {
                    transform: scale(1.5);
                }
            }

            & a.active {
                width: 100%;
            }
        }
    }

    @media (max-width: 576px) {
        top: unset;
        bottom: 1rem;
        left: 0;
        right: 0;
        width: unset;
        height: 2.5rem;
        display: none; //flex;

        & ul {
            display: flex;
            margin: 0 auto 0 auto;

            & li {
                display: flex;
                align-items: flex-end;
                height: 100%;
                width: 4px;
                margin: 0 1rem;

                & a {
                    width: 100%;
                    height: 50%;
                }

                & a.active {
                    height: 100%;
                }
            }
        }
    }
}


//navbar styles
.navbar .navbar-nav,
.navbar .offcanvas {
    background-color: $nice-dark;
}
.navbar .navbar-brand {
    transition: color 0.4s ease-in;
}
.navbar-toggler,
.navbar-toggler:focus {
    box-shadow: none !important;
}
@media (max-width: 576px) {
    .navbar {
        background-color: $nice-dark;
    }
}



.z-section {
    position: relative;
    min-height: 100vh;
    color: white;
    background-color: $nice-dark;

    &:nth-child(odd) {
        color: $nice-dark;
        background-color: white;
    }

    & ul {
        & li {
            &::before {
                content: "•";
                font-weight: bold;
                font-size: 1.5rem;
                color: $primary-color-500;
                display: inline-block;
                width: 1em;
                margin-left: -1em
            }
        }
    }

    @media (max-width: 576px) {
        // padding: 2rem;

        & .row .p-desc h6 {
            font-weight: bolder;
        }

        & p {
            margin-bottom: 1.2rem;
        }
    }

    @media (min-width: 576px) {
        & .row {
            & .p-desc {
                border-left: 2px solid $primary-color-500;

                & h6 {
                    display: inline-flex;

                    &::before {
                        content: "";
                        position: relative;
                        width: 1em;
                        height: 2px;
                        margin-top: auto;
                        margin-bottom: auto;
                        background-color: $primary-color-500;
                        transform: translateX(-0.8rem);
                    }
                }
            }
        }
    }

}

.dSection {
    display: flex;
    flex-direction: column;
    width: min(100%, 100vw);
    position: relative;
    z-index: 10;

    & .row {
        position: relative;
        height: 100vh;
        background-color: $nice-dark;

        @media (min-width: 576px) {
            height: 120vh; //content stays fullscreen for $height - 100vh scroll dist
        }

        & .row-inner {
            position: sticky;
            top: 0;
            height: 100vh;
            display: flex;
            
            @media (max-width: 575.98px) {
                flex-direction: column;
            }

            & .c {
                flex: 1 1;
            }
        }        
    }
    

    @media (min-width: 576px) {
        &:not(.no-pattern) {
            & .row:nth-child(odd) .c:nth-child(odd),
            & .row:nth-child(even) .c:nth-child(even) {
                color: black;
                background-color: white;
            }
        }
    }
    @media (max-width: 575.98px) {
        &:not(.no-pattern) {
            & .c:nth-child(odd) {
                color: black;
                background-color: white;
            }
        }
    }
}

.socials {
    
    & a {
        text-decoration: none;
        color: inherit;
        width: 7rem;

        & i {
            font-size: 2.5rem;
            transition: all 0.3s ease-in;
        }

        & span {
            position: relative;
            transition: all 0.3s ease-in;

            &::after {
                content: "";
                position: absolute;
                height: 0.1em;
                width: 100%;
                left: 0;
                bottom: 0;
                background-color: $accent-color-500;
            
                transform-origin: left;
                transform: scaleX(0);
                transition: inherit;
            }
        }

        &:hover {
            & i {
                color: $accent-color-500;
            }

            & span {
                color: $accent-color-500;
                
                &::after {
                    transform: scaleX(1);
                }
            }
        }
    }
}

.project-wrapper {
    position: relative;
    height: 200vh;

    & .project {
        position: sticky;
        top: 0;
        min-height: 100vh;
        width: 100%;
    
        & .header {
            position: absolute;
            top: 50%;
            left: 0;
            z-index: 10;
            display: flex;
            flex-direction: column;
            height: 10rem;
            transform: translateY(-50%);

            @media (max-width: 576px) {
                margin-top: 1rem;
            }

            & .details {
                position: relative;
                width: 100%;
                font-size: 1.2rem;

                & .details-label {
                    position: absolute;
                    top: 0;
                    right: 50%;
                    padding-right: 0.2rem;
                    opacity: 0;
                }

                & .detail {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    opacity: 0;
                    text-shadow: 0 0 0.1em rgba($color: #000, $alpha: 0.1);

                    @for $i from 1 through 10 {
                        &:nth-of-type(#{$i}) {
                            color: hsl(calc(255 / 5) * $i, 80%, 50%);
                        }
                    }
                }
            }

            & .subtitle {
                opacity: 0;
                margin-bottom: 1rem;
            }
        }

        & .content {
            position: absolute;
            top: 0;
            left: 0;
            min-height: 100%;
            width: 100%;
            display: flex;

            & .container {
                min-height: 0;
                color: white;
                background-color: $nice-dark;
                margin: 12.5rem auto 4rem auto;
                padding: 2rem;

                transform: scale(0);

                @media (max-width: 576px) {
                    margin-top: 12rem;
                    margin-bottom: 0;
                }
                @media (max-width: 576px) {
                    & .col-12 {
                        margin-bottom: 1rem;
                    }
                }

                & img {
                    z-index: 5;
                    transition: all 0.3s ease-out;
                    border-radius: 1%;
                    box-shadow: 0 0 0.3rem $accent-color-500;

                    &:focus,
                    &:hover {
                        scale: 1.3;
                        z-index: 10;
                        box-shadow: 0 0 1rem $accent-color-500;
                    }
                }

                & .tech-col {
                    & h5,
                    & ul {
                        color: rgba($color: #fff, $alpha: 0.7);
                    }
                }
                
            }
        }
    }
}
