/* Core variables */
// @import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* CSS print */
// @import 'base/print';

/* Fonts */
// @import 'base/fonts';

/* Mixins, helpers and functions */
// @import 'base/mixins';

/* Vendor */

/* Bootstrap */
// @import "custom";
@import "~bootstrap/scss/bootstrap";

/* Components */

/* Browser specific styles */
@import 'dirty/hacks';


.rborder {
    border: 1px solid red !important;
}
.gborder {
    border: 1px solid green !important;
}
.bborder {
    border: 1px solid blue !important;
}

div.hero {
    height: calc(100vh - 56px);
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);//linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.gradient-text {
    background: -webkit-linear-gradient(5deg, #8360c3, #2ebf91);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}