/* Core variables */
// @import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* CSS print */
// @import 'base/print';

/* Fonts */
// @import 'base/fonts';

/* Mixins, helpers and functions */
@import 'base/mixins';

/* Vendor */

/* Bootstrap */
@import "~bootstrap/scss/bootstrap";
// @import "~bootstrap-icons/font/bootstrap-icons";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

/* Components */

/* Browser specific styles */
@import 'dirty/hacks';


$accent-color-500: #00c7a6;
$primary-color-500: #8360c3;
$nice-dark: #262626;


.rborder {
    border: 2px solid red !important;
}
.gborder {
    border: 2px solid green !important;
}
.bborder {
    border: 2px solid blue !important;
}

div.hero {
    height: calc(100vh - 56px);
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);//linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.gradient-text {
    background: -webkit-linear-gradient(5deg, #8360c3, #2ebf91);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.accentText {
    color: $accent-color-500;
    font-weight: bolder;
}

span.divider {
    display: block;
    height: 2rem;
    position: relative;
    margin: 1rem 0;
    transform-origin: left;

    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 3rem;
        height: 0.2rem;
        border-radius: 0.1rem;
        background-color: $primary-color-500;
    }

    &::before {
        top: 0.5rem;
        left: 0;
    }

    &::after {
        bottom: 0.5rem;
        left: 1.5rem;
    }
}

head, body {
    position: relative;
    background-color: $nice-dark;
    color: white
}

.main {
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    /* Other transform properties here */

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
    /* Other transform properties here */
}

.lockFullScreen {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: $nice-dark;
}


.full-page-section-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;

    @media (min-width: 576px) {
        &:not(.no-scroll-padding) {
            height: 120vh;
        }
    }

    & .full-page-section {
        box-shadow: inset 0 0.5rem 0.5rem -0.5rem adjust-color($color: $accent-color-500, $alpha: 0.5);
    }

    &:first-child .full-page-section {
        box-shadow: none;
    }
}

[data-barba-namespace="index"] {
    counter-reset: sectionCounter;

    & .full-page-section {
        &::after {
            content: counter(sectionCounter);
            counter-increment: sectionCounter;
            position: absolute;
            display: inline-block;
            bottom: 10%;
            right: 10vw;
        
            color: white;
            font-family: "Times New Roman", Times, serif;
            font-size: 15rem;
            line-height: 10rem;
            z-index: 10;    
        }
    }
}

.full-page-section {
    position: sticky;
    top: 0;
    height: 100vh;
    z-index: 100;

    & .back {
        position: fixed; //absolute;
        color: white;
        font-size: 3.5rem;
        text-decoration: none;

        top: 2rem;
        left: 2rem;
        z-index: 3;

        @media (min-width: 576px) {
            &::after {
                content: "Q";
                font-size: 1.5rem;
                color: $primary-color-500;
                position: absolute;
                top: calc(50% - 0.85rem);
                right: -1.1rem;
            }
        }
    }

    & .container {
        position: relative;
        height: 70%;
        overflow: hidden;

        &.postAnimate {
            height: 100%;
            width: 100%;
            margin-right: 0;
            padding: 0;
            position: unset;
        }

        & .about {
            position: absolute;
            left: 0;
            margin-left: 8%;
            z-index: 2;
            padding-bottom: 2rem;
            text-shadow: 0 0 0.4rem $nice-dark;

            
            @media (min-width: 576px) {
                padding-right: 30vw;
            }

            & .desc {
                & h4 {
                    color: rgba($color: #fff, $alpha: 0.8);
                }
                & h6 { 
                    color: rgba($color: #fff, $alpha: 0.6);
                }
            }

            & .btn {
                color: white;
                background-color: rgba($color: $primary-color-500, $alpha: 0.3);
                border-color: $primary-color-500;
                border-radius: 2rem;
            }
        }

        & .image {
            display: block;
            position: relative;
            height: 100%;
            width: 70%;
            margin-bottom: auto;
            margin-left: auto;

            @media (max-width: 575.98px) {
                margin-bottom: auto;
                margin-right: auto;
                width: 80%;
                height: 75%;
            }

            z-index: 1;
            overflow: hidden;

            & .c1 {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                background-color: black;
                z-index: 1;
            }

            & .c2 {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                background-color: $primary-color-500;
                z-index: 1;
            }
        }

        & .hello__image {
            background: url("https://source.unsplash.com/801x500/?ruin,urban,dramatic"),
                linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 114, 95, 1) 32%, rgba(0, 175, 146, 1) 63%, rgba(0, 199, 166, 1) 100%);
        }

        & .about__image {
            background: url("https://source.unsplash.com/802x500/?code,computer,data,coding"),
                linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 114, 95, 1) 32%, rgba(0, 175, 146, 1) 63%, rgba(0, 199, 166, 1) 100%);
        }

        & .contact__image {
            background: url("https://source.unsplash.com/803x500/?patterns,technology,data"),
                linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 114, 95, 1) 32%, rgba(0, 175, 146, 1) 63%, rgba(0, 199, 166, 1) 100%);
        }
        & .none__image {
            background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 114, 95, 1) 32%, rgba(0, 175, 146, 1) 63%, rgba(0, 199, 166, 1) 100%);
        }

        & .hello__image,
        & .about__image,
        & .contact__image,
        & .none__image {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-blend-mode: multiply;
            backdrop-filter: blur(1px);
        }
    }
}




// floating nav
[data-barba-namespace="index"],
[data-barba-namespace="about"],
[data-barba-namespace="contact"] {
    & .f-nav {
        position: fixed;
        top: calc(50% - 4rem);
        left: 3rem;
        z-index: 100;
        opacity: 1;
        width: 3rem;
        transition: all 0.4s ease-in;
    
    
        @media (min-width: 576px) {
    
            &::before,
            &::after {
                display: block;
                position: fixed;
                left: 2rem;
    
                color: white;
                text-transform: uppercase;
                writing-mode: vertical-lr;
            }
    
            &::before {
                content: "scroll";
                bottom: 3.8rem;
                font-size: 0.8rem;
                text-orientation: upright;
            }
    
            &::after {
                content: " \27F6"; //\2193";
                color: $accent-color-500;
                bottom: 2rem;
                font-size: 1.3rem;
            }
        }
    
        & ul {
            margin: 0;
            padding: 0;
            list-style: none;
    
            & li {
                width: 100%;
                height: 4px;
                margin-bottom: 1.5rem;
    
                &:last-child {
                    margin-bottom: 0;
                }
    
                & a {
                    position: relative;
                    display: block;
                    cursor: pointer;
                    height: 100%;
                    width: 50%;
                    background-color: white;
                    border-radius: 2px;
                    transition: all 0.4s ease-in;
                }
    
                & a.active {
                    width: 100%;
                }
            }
        }
    
        @media (max-width: 576px) {
            top: unset;
            bottom: 1rem;
            left: 0;
            right: 0;
            width: unset;
            height: 2.5rem;
            display: none; //flex;
    
            & ul {
                display: flex;
                margin: 0 auto 0 auto;
    
                & li {
                    display: flex;
                    align-items: flex-end;
                    height: 100%;
                    width: 4px;
                    margin: 0 1rem;
    
                    & a {
                        width: 100%;
                        height: 50%;
                    }
    
                    & a.active {
                        height: 100%;
                    }
                }
            }
        }
    }
}


//navbar styles
.navbar .navbar-nav,
.navbar .offcanvas {
    background-color: $nice-dark;
}
.navbar-toggler,
.navbar-toggler:focus {
    box-shadow: none !important;
}
@media (max-width: 576px) {
    .navbar {
        background-color: $nice-dark;
    }
}


.scroll-section {
    counter-reset: scroll-section;
    height: 100vh;
    
    & .container {
        padding: 3rem;
    }

    &:nth-child(even) {
        color: $nice-dark;
        background-color: white;
    }
}

.dSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    z-index: 10;

    & .row {
        position: relative;
        height: 100vh;
        background-color: $nice-dark;

        @media (min-width: 576px) {
            height: 130vh; //content stays fullscreen for height - 100vh scroll dist
        }

        & .row-inner {
            position: sticky;
            top: 0;
            height: 100vh;
            display: flex;
            
            @media (max-width: 575.98px) {
                flex-direction: column;
            }

            & .c {
                flex: 1 1;
            }
        }        
    }
    

    @media (min-width: 576px) {
        &:not(.no-pattern) {
            & .row:nth-child(odd) .c:nth-child(odd),
            & .row:nth-child(even) .c:nth-child(even) {
                color: black;
                background-color: white;
            }
        }
    }
    @media (max-width: 575.98px) {
        &:not(.no-pattern) {
            & .c:nth-child(odd) {
                color: black;
                background-color: white;
            }
        }
    }
}

.center-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    & .strike {
        display: flex;
        flex-direction: row;
        width: 100%;

        &:before,
        &:after {
            content: "";
            flex: 1 1;
            border-bottom: 1px solid white;
            margin: auto;
            margin-right: 2rem;
            margin-left: 2rem;
        }
    }
}